\#*#
.\#*#
\#.*
.\#.*
*#
.#*
*.diff
*.err
*.orig
*.bak
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.esproj
error_log
_notes
dwsync.xml
*.komodoproject
.komodotools
.hg
.svn
.CVS
.idea
*.cfg

